---
layout: default
---

<div class="articles-single">

	<section class="articles-head">
		<!--<img class="img-stretch" src="/img/articles/magic.jpg" />-->
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<p class="category themecol">{{ page.category }}</p>
					<h1>{{ page.title }}</h1>
					<p class="articles-short">{{ page.short }}</p>
					<!--<p class="articles-author">by {{ page.author }}</p>-->
				</div>
			</div>
		</div>
	</section>

	<section class="articles-body">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<p>{{ page.content }}</p>
				</div>
			</div>
		</div>
	</section>


</div>